.nav-profile {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%; /* Optional: makes it circular */
}
.nav-logo{
    height: 60px;
    width: 60px;
    object-fit: cover;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
}
.navbar-leftpart{
    display: flex;
    gap: 10px;
    color: rgb(138, 138, 186);
    line-height: 20px;
}
@media(max-width:800px){
    .nav-profile {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 50%; /* Optional: makes it circular */
}
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        height: 40px;
        width: 40px;
    }
    .navbar-leftpart{
    display: flex;
    gap: 8px;
    color: rgb(138, 138, 186);
    line-height: 9px;
    font-size: 13px;
}
}