.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    border: none;
    margin-bottom: 20px;
}

.popular-item {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Medium Screens */
@media(max-width: 1280px) {
    .popular h1 {
        font-size: 40px;
    }
    .popular hr {
        width: 160px;
        height: 4px;
    }
    .popular-item {
        gap: 20px;
    }
}

/* Small Screens */
@media(max-width: 1024px) {
    .popular h1 {
        font-size: 30px;
    }
    .popular hr {
        width: 120px;
        height: 3px;
    }
    .popular-item {
        gap: 15px;
    }
}

/* Mobile Screens */
@media(max-width: 800px) {
    .popular h1 {
        font-size: 24px;
    }
    .popular hr {
        width: 100px;
    }
    .popular-item {
        gap: 10px;
    }
}

/* Extra Small Mobile Screens */
@media(max-width: 500px) {
    .popular h1 {
        font-size: 20px;
    }
    .popular hr {
        width: 80px;
    }
    .popular-item {
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap; /* Wrap cards naturally */
    }
}
